<nav class="navbar sticky-top navbar-expand-lg bg-success" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'dashboard-index' %}">MilingInventory</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="{% url 'dashboard-index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Planning
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Production</a></li>
              <li><a class="dropdown-item" href="#">Work Order</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url 'dashboard-order' %}">Orders</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url 'dashboard-product' %}">Product</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="{% url 'dashboard-staff' %}">Staff</a>
          </li>
          
        </ul>
        <ul class="navbar-nav me-2 mb-2 mb-lg-0 ">
            <li class="nav-item me-2">
                <a class="nav-link text-white" href="{% url 'user-profile' %}">{{user.username}} Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'user-logout' %}">Logout</a>
            </li>
        </ul>
        
        {% else %}
        
        <ul class="navbar-nav me-2">
            <li class="nav-item active">
                <a class="nav-link text-white " href="{% url 'user-register' %}">Register<span
                        class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
            </li>
        </ul>

        {% endif %}
      </div>
    </div>
  </nav>
