{% extends 'partials/base.html' %}
{% block title %} Staff {% endblock %}

{% block content %}

    {% include 'partials/topnav.html' %}

    <!--Table-->
    <div class="container-fluid">
        <div class="col-md-10 col-sm-12 mx-auto">
            <div class="row my-4">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <table id="staffTable" class="table table-striped table-hover table-bordered">
                        <thead class="table-success">
                            <tr class="text-white">
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for worker in workers %}
                            <tr>
                                <th scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboard-staff-detail' worker.id %}">View</a></th>
                                <td>{{ worker.username }}</td>
                                <td>{{ worker.email }}</td>
                                <td>{{ worker.profile.phone }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
          $('#staffTable').DataTable({
            "aLengthMenu": [[5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],
            "iDisplayLength": 5
          });
        });
    </script>

    <!--End Table-->

{% endblock %}