{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="col-md-10 col-sm-12 mx-auto">
        <h3 class="mt-5">My Orders</h3>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Make Request
                    </div>
                    <div class="card-body">
                        <form method="POST">

                            {% csrf_token %}

                            {{ form|crispy }}

                            <div class="d-grid d-block">
                                <input class="btn btn-success" type="submit" value="Make Request">
                            </div>    
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Orders Records
                    </div>
                    <div class="card-body">
                        <table id="staffIndexTable" class="table bg-white table-striped table-hover table-bordered">
                            <thead class="table-success text-white">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    {% if order.staff == user %}
                                        <tr>
                                            <td>{{ order.product.name }}</td>
                                            <td>{{ order.product.category }}</td>
                                            <td>{{ order.order_quantity }}</td>
                                            <td>{{ order.created_at }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                  $('#staffIndexTable').DataTable({
                    "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
                    "iDisplayLength": 3
                  });
                });
            </script>
        </div>
    </div>
    
</div>