<div class="container-fluid">
    <div class="col-md-10 col-sm-12 mx-auto">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Make Request
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="d-grid d-block">
                                <input class="btn btn-success" type="submit" value="Make Request">
                            </div>    
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Orders Records
                    </div>
                    <div class="card-body">
                        <table class="table bg-white">
                            <thead class="table-success text-white">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>Book</td>
                                    <td>Stationary</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Book</td>
                                    <td>Stationary</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Book</td>
                                    <td>Stationary</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Book</td>
                                    <td>Stationary</td>
                                    <td>10</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>